h1 { 
    color: #f5deb3;
    font-size: 30pt;        /* 文字サイズ */
    text-align: center;
}

body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWsZG5G72y9X3lFEiD7JyiC5d-Eyj_m1UNwg&s");
    background-repeat:  no-repeat;  
    background-size:  cover;                /* 画像のサイズ指定 */
}

input[type="submit"] {
	background: #ffffff;
	font-size: 25pt;        /* 文字サイズ */
}

div{
   text-align: center;
}

table{
    margin: auto;
}
